*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to left,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../cat&dog.jpg);
    background-size: cover;

}
.container-fluid{
width: auto;
height: 100%;
display: flex;
min-height: auto;
background-repeat: no-repeat;

}
.container ul li a{
    text-decoration: none;
    color:#fff;
}

.container{
    margin-top: 10px;
    width: auto;
    height: 80px;
    margin-left:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0.5vw ;

}
.container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container ul li{
    font-size: 1.7vw;
    font-family: arial;
    color:#fff;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    transition: 0.5s;
}

.container h2{
    font-family: arial;
    font-size: 3vh;
    color: #fff;
}


.container ul li a:hover{
    color: #30d300;
}

.content{
    position: absolute;
    width:20px;
    height: 90vh;
    padding-left: 10%;

}
.content h1{
font-family: arial;
font-weight: bold;
color: #fff;
font-size: 4vw;
padding-left: 8vw;
padding-top: 20vh;
}


.adopted{
margin-left: 10vw;
width: 10vw;
height: 5vh;
display: inline-block;
margin-bottom:16px ;
border-radius: 24px;
background-color: #f1316b;
color: #fff;
border:none;
}
.container ul li:hover{
    color: #30d300;
}
.adopted:hover{
    border-radius: 24px;
background-color: #f1316b;
color: #fff;
border:none;
    margin-left: 10vw;

    width: 10vw;
    height: 5vh;
    display: inline-block;

    transform: scale(1.1);
}

.inAdoptie{
    border-radius: 24px;
background-color: #f1316b;
color: #fff;
border:none;
    margin-left: 10vw;

    width: 10vw;
    height: 5vh;
    display: inline-block;


}
.inAdoptie:hover{
    border-radius: 24px;
background-color: #f1316b;
color: #fff;
border:none;
    margin-left: 10vw;

    width: 10vw;
height: 5vh;
transform: scale(1.1);
display: inline-block;

}